<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi! I'm Kayla Liu! I REALLY love art! I wanted to make my own portfolio 
          to share and present my art. I like doing digital art, little doodles, and 
          random drawings when I am bored.</p>
      </div>
      <div class="col-lg-4">
        <p>I also LOVE dogs, having one Maltese at home 
          named Mellow. (She is SOOOOO mellow!) Anyways, I would love to show my art to you! </p>
      </div>
    </div>
  </div>
</section>
