<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi! I'm Kayla Liu! I'm a freshman in high school and I love making random edits on Capcut and cute doodles on Procreate.</p>
      </div>
      <div class="col-lg-4">
        <p>I also LOVE dogs, having one Maltese at home 
          named Mellow. I  have one sister and one brother (I'm the oldest 😁). Anyways, I would love to show my art to you! </p>
      </div>
    </div>
  </div>
</section>
